<ion-view view-title="My home" ng-controller="MyHomeCtrl as hCtrl"> <!--ng-controller="MyHomeCtrl as ctrl">-->
  <ion-content class="padding">
    <ion-refresher
      pulling-icon="ion-android-refresh"
      pulling-text=""
      on-refresh="">
    </ion-refresher>
    <!--<img src="../img/home.png" />
    <div align="center" on-hold="dealWithPicture()">
    <img class="houseThumbnail" ng-src="{{ctrl.homeImage}}" style="width: 256px; height: 256px">
      </div>-->
    <div align="left">
      <!--<img class="houseThumbnail" ng-src="img/home.png" id="myHomePhoto" style="width: 256px; height: 256px" on-hold="" ng-click="popover.show($event)">-->
      <img ng-show="homePhoto !== undefined" class="houseThumbnail" ng-src="{{homePhoto}}" on-hold="takePicture()"><!-- -->
      <img ng-show="homePhoto === undefined" class="houseThumbnail" ng-src="img/home.png" on-hold="takePicture()" ng-click="takePicture()"><!-- -->
    </div>
    <div class="address">
        29 Mabel Grove, West Bridgford, NG25GT
    </div>

    <div class="homeSavingStatusText">
      Saving status:
      <div class="homeSavingStatus">poor</div>
    </div>
    <!--<p align="center">-->
      <!--<a class="button icon icon-right ion-chevron-right" ng-click="takePicture()">Take picture</a>-->
    <!--</p>-->
    <!--<p align="center">-->
      <!--<a class="button icon icon-right ion-chevron-right" ng-click="popover.show($event)">Popover</a>-->
    <!--</p>-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
    <!--<canvas id="lineChart" class="chart chart-bar" chart-data="data"-->
            <!--chart-labels="labels" chart-series="series" chart-options="options"-->
            <!--chart-dataset-override="datasetOverride" chart-click="onClick">-->
    <!--</canvas>-->
      <canvas id="canvas"  />
    </div>
    <label class="item item-input item-select">
      <div class="input-label" translate="TIME"></div>
      <select id="chartUnitsX" ng-model="chartUnitsXModel" ng-change="updateChart()">
        <option
          ng-repeat="unit in chartUnitsX"
          ng-selected="{{unit.name == chartUnitsX[0].name}}"
          value="{{unit.name}}">
          {{unit.name}}
        </option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label" translate="UNIT"></div>
      <select id="chartUnitsY" ng-model="chartUnitsYModel" ng-change="updateChart()">
        <option
          ng-repeat="unit in chartUnitsY"
          ng-selected="{{unit.name == chartUnitsYFilter.name}}"
          value="{{unit.name}}">
          {{unit.name}}
        </option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label" translate="ROOM"></div>
      <select id="chartRooms" ng-model="chartRooms" ng-change="updateChart()">
        <option
          ng-repeat="aRoom in homeReadings"
          ng-show="aRoom.active"
          ng-selected="{{aRoom.room == homeReadings[0].room}}"
          value="{{aRoom.room}}">
          {{aRoom.room}}
        </option>
      </select>
    </label>
    <div>
      <div class="row header">
        <div class="col">Room</div>
        <div class="col">Temp [C]</div>
        <div class="col">Humidity [%]</div>
      </div>
        <div class="row" ng-repeat="hr in homeReadings | filter: {active: trueVar}">
          <!--<div class="row" ng-repeat="hr in hCtrl.homeReadings">-->
        <div class="col">{{hr.room}}</div>
        <div class="col">{{hr.temp}}</div>
        <div class="col">{{hr.humid}}</div>
      </div>
    </div>
  {{hCtrl.homeReadings}}


<!--    <p>
      Remourban is a major Future Cities demonstrator Project, supported by a major EU Horizon 2020 investment (EU Lighthouse project scheme) for five years (2014-2019).
    </p>
    <p>
      Find out more on <a href="http://www.remourban.eu/" target="_blank">our site.</a>.
    </p>-->
   <!-- <p>
    Right now we invite you to play energy saving game!
    </p>
    <p align="center">
      <a href="" target="_blank">Play</a>
    </p>-->
  </ion-content>
</ion-view>
