<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- My home (main) Tab -->
  <ion-tab title="My home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-myhome"></ion-nav-view>
  </ion-tab>

  <!-- Leaderboard Tab -->
  <ion-tab title="Leaderboard" icon-off="ion-ios-game-controller-b-outline" icon-on="ion-ios-game-controller-b" href="#/tab/chats">
    <ion-nav-view name="tab-leaderboard"></ion-nav-view>
  </ion-tab>

  <!-- My account Tab -->
  <ion-tab title="My account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
