/* Empty. Add your own CSS if you like */
.houseThumbnail {
  bottom: 0;
  left: 0;
  margin: auto;
  /*max-height: 100%;*/
  /*max-width: 100%;*/
  /*position: absolute;*/
  right: 0;
  top: 0;
  float: left;
  /*width: 60%;*/
  width: 50%;

  /*height: 50%;*/
}
.houseThumbnailQuestion {
  bottom: 0;
  left: 0;
  margin: auto;
  /*max-height: 100%;*/
  /*max-width: 100%;*/
  /*position: absolute;*/
  right: 0;
  top: 0;
  float: left;
  /*width: 60%;*/
  width: 50%;

  /*height: 50%;*/
}
.houseThumbnailQuestionText {
  bottom: 0;
  /*left: 0;*/
  top: 5%;
  margin: 20%;
  width: 50%;
}

.address
{
  width: 40%;
  font-size: smaller;
  float: right;
}

.homeSavingStatusText
{
  /*text-align: center;*/
  /*color: coral;*/
  width: 40%;
  font-size: smaller;
  float: right;
}

.homeSavingStatus
{
  /*text-align: center;*/
  color: coral;
  width: 40%;
  /*font-size: smaller;*/
  float: right;
}

.header .col {
  background-color:lightgrey;
}

.col {
  border: solid 0px grey;
  border-bottom-style: none;
  border-right-style: none;
  column-width: auto;
  -moz-column-width: auto;
  -webkit-column-width: auto;
}
/*.col:first-child {*/
  /*column-width: 8px;*/
  /*align-content: center;*/
/*}*/
.col:first-child {
  width: 10%;
}
.col:last-child {
  border-right: solid 0px grey;
}

.row:last-child .col {
  border-bottom: solid 0px grey;
}
.row:nth-child(2n+3) {
  background-color: #e4e4e4;
}

.floated_img
{
  float: left;
}

.question {}

.question1{
  visibility: visible;
}

.question2{
  visibility: visible;
}
.question3{
  visibility: visible;
}
